# ==============================
# Python bytecode
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual environments
# ==============================
venv/
.env/
.venv/

data/
# ==============================
# Environment variables
# ==============================
.env

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Editor / IDE
# ==============================
.vscode/
.idea/

# ==============================
# Test / coverage
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Build / distribution
# ==============================
build/
dist/
*.egg-info/